<navbar-comp></navbar-comp>
<div class="row d-flex m-0">
  <div class="col-lg-2 col-12 mt-3">
    <form class="form-inline mx-1" style="display: flex; margin-top:2rem;margin-left: 2rem; ">
      <input class="form-control mr-sm-2" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" type="search"
        placeholder="Filter" aria-label="Filter">
      <button class="btn btn-outline-dark  my-2 my-sm-0 w-50" style="margin-left:1rem;"
        (click)="filterNews()">Send</button>
    </form>
  </div>
  <div class="col-lg-10 col-12 m-0">
    <pagination-comp [data]="data" *ngIf="!loading"></pagination-comp>
    <spinner-comp class="d-flex justify-content-center" *ngIf="loading" style="height: 90vh;"></spinner-comp>

  </div>
</div>
<footer-comp></footer-comp>
