<navbar-comp></navbar-comp>
<div class="row d-flex justify-content-center align-items-center m-0">
  <div class="col-lg-3 col-10 d-flex justify-content-center align-items-center mt-5">
    <img src="../../../assets/images/about-me.jpg" alt="" style="border-radius: 50%; width:20rem">
  </div>
  <div class="col-lg-3 col-10">
    <h1 style="font-size: 3rem; font-weight:900;" style="text-align:center;">Hello</h1>

    <p class="text-muted" style="text-align:center;">I am Harun. I am a Front End Developer at ICI Tech Teknoloji A.Ş.
      Although
      I
      have
      briefly
      mentioned my current projects
      below, you
      can reach my
      projects and
      my profile by clicking the buttons below, and send me your message via e-mail.</p>
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center align-items-center circle" style="background-color:#EEA302; ">
        <a href="https://www.linkedin.com/in/harundayan/" target="_blank"
          style="color:#000;font-weight:900; text-decoration: none;">Linkedin</a>

      </div>
      <div class="d-flex justify-content-center align-items-center circle" style=" background-color:#FF3B25;">
        <a href="https://github.com/HarunDyn" target="_blank"
          style="color:#000;font-weight:900; text-decoration: none;">Github</a>
      </div>
      <div class="d-flex justify-content-center align-items-center circle" style=" background-color:#80D8DA; ">
        <a href="mailto:harundayann@gmail.com" target="_blank"
          style="color:#000;font-weight:900; text-decoration: none;">Contact</a>
      </div>
    </div>
  </div>
</div>
<h5 class="text-center my-5" style="font-size: 1.5rem; font-weight:900; ">
  Projects</h5>
<div class="row d-flex-column justify-content-center align-items-center m-0">
  <div class="col-lg-8 col-12 project-wrap mb-5">
    <img src="../../../assets/images/gift.jpg" style="width: 21rem;" />
    <p class="mx-3 text-muted" style="text-align:justify;">Hotel Gift Certificates E-commerce
      platform that creates
      personalized
      hotel-related gift
      certificates and cards
      and quickly delivers them to new customers.. Developed interactive and responsive front-end web applications
      mainly
      using HTML-5, CSS-3, SASS, JavaScript ES6,
      Angular, RxJS, Git, those were also shaped with some styling tools such as, Bootstrap, Ionic, DevExpress, etc.</p>
  </div>
  <div class="col-lg-8 col-12 project-wrap mb-5">
    <img src="../../../assets/images/restaurant.jpg" style="width: 21rem;" />
    <p class="mx-3 text-muted" style="text-align:justify;">E-commerce site created for restaurants, where products can
      be sold
      online and
      where sellers can
      track their
      products.Developed interactive and responsive front-end web applications mainly using HTML-5, CSS-3, SASS,
      JavaScript ES6,
      Angular, RxJS, Git, those were also shaped with some styling tools such as, Bootstrap, Ionic, DevExpress, etc..
    </p>
  </div>
  <div class="col-lg-8 col-12 project-wrap mb-5">
    <img src="../../../assets/images/hotel.jpg" style="width: 21rem;" />
    <p class="mx-3 text-muted">This app is a guest experience solutions of the latest
      generation
      that increase
      hotel revenue while
      providing
      guest
      satisfaction.. Developed interactive and responsive front-end web applications
      mainly
      using HTML-5, CSS-3, SASS, JavaScript ES6,
      Angular, RxJS, Git, those were also shaped with some styling tools such as, Bootstrap, Ionic, DevExpress, etc.</p>
  </div>
  <div class="col-lg-8 col-12 project-wrap mb-5">
    <img src="../../../assets/images/github.png" style="width: 21rem;" />
    <p class="mx-3 text-muted">I have nearly 50 projects on my github page.. Developed this
      projects with
      HTML, CSS, SASS, JavaScript, Typescript,Angular, React , Next.js , RxJS WebSocket those were also shaped with some
      styling tools such as, Bootstrap,Material UI,Styled components, Ionic, DevExpress, etc.
      <a href="https://github.com/HarunDyn?tab=repositories" style="color:#000">Github Repo</a>
    </p>
  </div>
</div>
<footer-comp></footer-comp>
